<nav>
  <div>
    <a href="index.html">Start Bootstrap</a>
    
    <div>
      <ul>
        <li>
          <%if (pagename =="Home"){$>
            <a href="/"  style="color:orange"  id="index.html">Home</a>
        <%} else { %>
          <a href="/" id="index.html">Home</a>
        }
        </li>

        <li>

          <%if (pagename =="About"){$>
            <a href="/About" style="color:orange" >About</a>
        <%} else { %>
          <a href="/About" >About</a>
        <%}%>
        
        if(typeif(sess) !="undefined" && sess.logged=="true") {%>
        <a style="color:orange" href="/profile">Profile</a>
        <a style="color:orange" href="/logout">Logout</a>}
          </li>
      </ul>
    </div>
  </div>
</nav>

<div>
  <form action="/login" method="post">
    
    <input type="text" name="email" placeholder="Email">
    <input type="text" name="password" placeholder="Password">
    <input type="submit">
    </form>
  </div>

  <% if (typeof (errors) != "undefinded") {%>
    <% for (x in errors ) {%> 
      <br><span>Errors:<%=errors[x]%></span>
  
  <%}}%>